@font-face {
  font-family: "Rajdhani Medium";
  src:
    local("Rajdhani Medium"),
    url('./fonts/Rajdhani/Rajdhani-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Russo One";
  src:
    local("Russo One"),
    url('./fonts/Russo_One/RussoOne-Regular.ttf') format("truetype");
}

:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);

  /*Dark theme 1 - Deep*/
  --deep-bg: var(--black);
  --deep-text: var(--white);
  --deep-gray: rgb(10, 15, 19);
  --deep-green: rgb(50, 164, 133);
  --deep-red: rgb(191, 52, 44);

  /*Dark theme 2 - Philly*/
  --philly-bg: #010f13;
  --philly-text: var(--white);
  --philly-gray: #2b2a2c;
  --philly-green: #08b2e3;
  --philly-red: #8c1c13;

  /*Dark theme 3 - Toucan*/
  --toucan-bg: #310235;
  --toucan-text: #FFFFFB;
  --toucan-gray: #490c48;
  --toucan-green: #0d7e74;
  --toucan-red: #E15554;

  /*Dark theme 4 - Darker*/
  --darker-bg: #181925;
  --darker-text: #EDF2F4;
  --darker-gray: #2B2D42;
  --darker-green: #32908F;
  --darker-red: #D90429;

  /*Light theme*/
  --light-bg: var(--white);
  --light-text: var(--black);
  --light-gray: rgb(213, 213, 213);
  --light-green: rgb(66, 216, 175);
  --light-red: rgb(242, 66, 57);

  --yellow: rgb(247, 212, 23);

  /*Applied*/
  --bg: var(--light-bg);
  --text: var(--light-text);
  --negative: var(--light-red);
  --positive: var(--light-green);
  --primary: var(--light-gray);
  --caution: var(--yellow);
}

.App {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Rajdhani Medium";
  color: var(--text);
}

p {
  font-size: 1.25em;
  margin: 5px;
}

.label {
  font-size: .75em;
}

#status {
  position: fixed;
  bottom: 0;
  width: 60%;
  height: 30%;
}

#speedo {
  position: fixed;
  width: 60%;
  text-align: center;
  pointer-events: none;
}

#battery {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

#alerts {
  position: fixed;
  width: 50%;
  height: 18%;
  top: 12%;
}

#conf-pane {
  position: fixed;
  width: 100%;
  height: 100%;
}