@font-face {
  font-family: "Rajdhani Medium";
  src:
    local("Rajdhani Medium"),
    url('./fonts/Rajdhani/Rajdhani-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "Russo One";
  src:
    local("Russo One"),
    url('./fonts/Russo_One/RussoOne-Regular.ttf') format("truetype");
}

:root {
  --black: #000000;
  --white: #ffffff;

  /*Dark theme 1 - Deep*/
  /* --dark-bg: #181925;
  --dark-text: #EDF2F4;
  --dark-gray: #2B2D42;
  --dark-green: #32908F;
  --dark-red: #D90429; */
  
  /*Dark theme 2 - Philly*/
  /* --dark-bg: #010f13;
  --dark-text: var(--white);
  --dark-gray: #2b2a2c;
  --dark-green: #08b2e3;
  --dark-red: #8c1c13; */

  /*Dark theme 3 - Toucan*/
  --dark-bg: #3d0d41;
  --dark-text: #FFFFFB;
  --dark-gray: #6d386c;
  --dark-green: #8CA0D7;
  --dark-red: #E15554;

    /*Dark theme 4 - Deeper*/
  /* --dark-bg: var(--black);
  --dark-text: var(--white);
  --dark-gray: rgb(10, 15, 19);
  --dark-green: rgb(50, 164, 133);
  --dark-red: rgb(191, 52, 44); */

  /*Light theme*/
  --light-bg: var(--white);
  --light-text: var(--black);
  --light-gray: #d5d5d5;
  --light-green: #42d8af;
  --light-red: #f24239;

  --yellow: #ffd900;

  /*Applied*/
  --bg: var(--light-bg);
  --text: var(--light-text);
  --negative: var(--light-red);
  --positive: var(--light-green);
  --primary: var(--light-gray);
  --caution: var(--yellow);
}

.App {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: "Rajdhani Medium";
  color: var(--text);
}

p {
  font-size: 1.25em;
  margin: 5px;
}

.label {
  font-size: .75em;
}

#status {
  position: absolute;
  bottom: 0;
  width: 60%;
  height: 30%;
}

#speedo {
  position: absolute;
  width: 60%;
  text-align: center;
  pointer-events: none;
}

#battery {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

#alerts {
  position: absolute;
  width: 50%;
  height: 18%;
  top: 12%;
}

#conf-pane {
  position: absolute;
  width: 100%;
  height: 100%;
}

#lap-status {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 10%;
  right: 0;
}