#power {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
}

.segment {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: var(--negative);
}

#voltages {
  position: absolute;
  top: 35%;
  left: 0;
}

#temps {
  position: absolute;
  top: 35%;
  right: 0;
  text-align: right;
}

.value {
  display: inline;
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
  color: var(--text);
}

img.icon {
  position: absolute;
  height: 10%;
}

img#accel {
  top: 0;
  left: 50%;
  transform: scale(.7) translate(0, -12%);;
  filter: opacity(50%);
}

img#regen {
  top: 0;
  right: 50%;
  transform: scale(.6) translate(0, -15%);
  filter: invert(0) opacity(50%);
}