#conf-pane {
    background-color: var(--bg);
}


#menu-title {
    font-family: "Rajdhani Medium";
    font-size: 3em;
    padding: 20px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    height: 70%;
}

.tile {
    width: 31%;
    height: 40%;
    text-align: left;
    user-select: none;
    cursor: pointer;
    color: var(--text);
    background-color: var(--primary);
}

.tile:hover {
    filter: brightness(.9);
}

.menu-icon {
    position: relative;
    padding: 2% 0px 0px 0px;
    width: 100%;
    height: 80%;
}

.button {
    display: flex;
    justify-content: space-between;
    padding: 2% 2% 2% 2%;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    color: var(--text);
    background-color: var(--primary);
}

.button:hover {
    filter: brightness(.9);
}

.option-page {
    display: flex;
}

.option-select {
    width: 50%;
}

.option-pane {
    width: 50%;
}

#return {
    position: absolute;
    width: 45%;
    bottom: 0;
    right: 0;
    background-color: var(--negative);
}

#back {
    position: absolute;
    width: 45%;
    bottom: 0;
    left: 0;
}

#alert {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80%);
    background-color: var(--positive);
    padding: 5px;
    border-radius: 5px;
}  

.page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg);
}

.num-pad-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70%;
    background-color: var(--bg);
    border-radius: 5px;
    /* outline: solid var(--text) 1px; */
    box-shadow: 0px -5px 10px rgb(0, 0, 0);
}

.num-pad-val {
    content: none;
    width: 97%;
    background-color: var(--primary);
    border-radius: 5px;
    margin: 1%;
    padding: 5px;
    font-size: 1.5em;
}

.num-pad {
    position: absolute;
    bottom: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

.num-pad-key {
    width: 32%;
    text-align: center;
    background-color: var(--primary);
    border-radius: 5px;
    font-size: 2em;
}

.num-pad-key:hover {
    filter: brightness(.7);
}