#lap-status {
}

#lap-batt {
    width: 25%;
    float: left;
    padding: 10px;
}

#lap-time {
    width: 25%;
    float: right;
    text-align: right;
    padding: 10px;
}

.time {
    font-size: 2em;
    font-weight: bold;
}

.time .label{
    font-size: .5em;
    font-weight: normal;
}