#lap-status {
}

#lap {
    width: 23%;
    float: left;
    padding: 10px;
    text-align: right;
}

#total {
    width: 23%;
    float: right;
    text-align: right;
    padding: 10px;
    text-align: left;
}

.time {
    font-size: 2em;
    font-weight: bold;
}

.time .label{
    font-size: .5em;
    font-weight: normal;
}