div#status {
    border-radius: 5px 5px 0px 0px;
    font-family: 'Rajdhani Medium';
    color: var(--text);
    user-select: none;
    cursor: pointer;
    background-color: var(--primary);
}

#network {
    margin: 5px;
    padding: 0;
    height: 10%;
}

#tm-status {
    float: left;
}

#lte-status {
    float: right;
}

.panel {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

#fault-status {
}

#rtd-status {
}

#odo {
    float: right;
}

#trip {
    float: left;
}
#sysinfo {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#title {
    float: left;
}

#version {
    float: right;
}