div#status {
    border-radius: 5px;
    font-family: 'Rajdhani Medium';
    color: var(--black);
}

#network {
    margin-top: 0;
}

#sysinfo {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#title {
    float: left;
}

#version {
    float: right;
}