.App {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

h1 {
  font-size: 4em;
}

p {
  font-size: 2em;
  margin: 10px;
}

#speedo {
  position: fixed;
  top: 50;
  right: 50;
}

#battery {
  position: fixed;
  bottom: 0;
  left: 0;
}

#power {
  position: fixed;
  bottom: 0;
  right: 0;
}

.grid-speed {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 40px;
  font-size: 60px;
  text-align: center;
  font-family:Fantasy;
  Color: Red;
} 
